*{
 	margin: 0;
 	padding: 0 ;
 	box-sizing: border-box;
}
html{
	height: 100%;
	font-size: 14px;
	font-family: 'PT Sans Caption', sans-serif;
}
body{
	height: 100%;
	background-color: #f5f5f5;
}
main{
	width: 70%;
	margin: 35px auto;
	padding: 25px 50px;
	box-shadow: 0 0 30px 1px rgba(255,0,0,0.4);
}
img{
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	display: block;
}
.text{
	font-size: 18px;
	line-height: 28px;
	margin: 15px 0;
}
h1{
	text-align: center;
	font-size: 26px;
	font-weight: 900;
	margin-bottom: 25px;
}
.menu{
	background-color: #33FF00;
	margin: 10px 0;
	padding: 10px 15px;
	border-radius: 6px;
}
.menu ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu ul li{
	padding:10px 25px;
	border: 2px solid #33FF00;
	border-radius: 6px;
	transition: 0.5s;
}
.menu ul li a{
	text-decoration: none;
	font-size: 18px;
	color:#33FF00;
	font-weight: 900;
	transition: 0.4s;
}
.menu ul li:hover{
	border-color: #33FF00;1
}
.menu ul li:hover a{
	color: #FF0000;
}
.table{
	display: flex;
	flex-direction: column;
}
.row{
	display: flex;
	border-bottom: 1px solid #ffcc00;
}
.row .row-title, .row .title{
	width: 30%;
	max-width: 250px;
	border-right: 1px solid #ffcc00;
	padding: 15px 10px;
}
.row .row-description, .row .description{
	width: 70%;
	padding:15px 10px;
}
.row .row-title, .row .row-description{

	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}
.row .title .row .description{
	font-size: 16px;
	line-height: 18px;
}