
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
html,body{
height: 100%;
font-size: 14px;
line-height: 26px;
color: #fff;
font-family: 'Roboto', sans-serif;
}
.section{
	height: 100%;
}
.container{
	width: 100%;
	height: 100%;
	max-width: 980px;
	margin: 0 auto;
	padding: 0 20px;

}
#section_01{
	height: 100vh;
	background-image: url(img/main-bg.jpg);
	background-position: center; 
	background-size: cover;
}
.top-title{
	position: absolute;
	top:83px;
	left:50%;
	transform: translateX(-50%);
	font-size: 21px;
	font-weight: 500;
}
#section_01 .container{
	display: flex;
	align-items: center;
}
#section_02{
	padding-bottom: 105px;
}
.main-text .text{
	text-transform: uppercase;
	font-size: 23px;
	font-weight: 700;
	line-height: 26px;
	color: #b7b7b7;
}
.main-text .title{
	text-transform: uppercase;
	font-size: 63px;
	font-weight: 500;
	line-height: 72px;
}
.main-text .small-text{
	color: #b7b7b7;
	width: 55%;
}
.gallery-header{
	color: black;
	display: flex;
	padding-top: 65px;
 	padding-bottom: 30px;
 	align-items: center;
}
.gallery-header h2{
	margin-right: 65px;
	font-size: 30px;
}
.gallery-header p{
	max-width: 60%;
	font-size: 13px;
}
.gallery{
	display: flex;
}
.gallery > img{
	align-self: flex-start;
}
.img-box{
	margin-left: 25px;

}
.img-box img+img{
	margin-top: 15px;
}
.btn{
	border: 0.5px solid #fff;
	border-radius: 8px;
	width: 175px;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: 10px 0;
	font-size: 13px;
	font-weight: 500;
	margin-bottom: 30px;
	transition: 0.6s;
	cursor: pointer;
}
.btn:hover{
	transform: scale(1.2);
	box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
	background-color: #fff;
	color: black;
}
footer{
	background-image: url(img/footer-bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
footer .container{
	padding-top: 100px;
	padding-bottom: 95px;
}
footer p{
	font-size: 23px;
	text-align: center;
}